@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto.eot");
  src: url("../font/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../font/Roboto.ttf") format("truetype"), url("../font/Roboto.woff") format("woff"), url("../font/Roboto.woff2") format("woff2"), url("../font/Roboto.otf") format("opentype"); }
body {
	font-size:14px;
	font-family: 'Roboto';
	color:#fff;
}
h1 {
	font-size:3em;
	text-align:center;
  font-family: 'Roboto';
}
a {
	color:#fff;
	text-decoration:none;
}
.tlt {
	width:50vw;
}
p {
	font-size:1.5em;
}
h1 span span,
p {
	text-shadow:1px 1px 3px  #333;
}

* {
  box-sizing: border-box;
}
canvas {
  position:fixed;
  z-index:10000;
}
h1 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 6vw;
  text-align: center;
  background-image: url('http://m24.ru/img/dg2016/circles.svg');
  background-position: 0 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-color: #fff;
  background-size: auto 150px;
  background-position: 0 0;
  -webkit-animation: 8s Holiday linear infinite;
  animation: 8s Holiday linear infinite;
  text-align: left;
  box-sizing: border-box;
  overflow: hidden;
  padding: 16px;
}

.dgcontainer {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
}

@-webkit-keyframes Holiday {
  0% {
    background-position: 0 0
  }
  100% {
    background-position: 0 -150px
  }
}

@keyframes Holiday {
  0% {
    background-position: 0 0
  }
  100% {
    background-position: 0 -150px
  }
}

h1 span.dgdates {
  display: block;
  font-size: 0.5em
}

h1 span {
  white-space: nowrap;
  display: block;
}

h1 em {
  font-weight: 300;
  font-style: normal
}
.b-text-block {
    display: inline-block;
    background: rgba(255,255,255,0);
    color: #fff;
    width: 105%;
    padding: 40px;
    font-size: 2vw;
    margin-top: 80vh;
    margin-left:150px;
    font-weight:900;
}
.anton-face {
    display:block;
    margin:0 auto;
    height: 100%;
    width:100%;
    position:fixed;
    top:0;
    left:0; 
    z-index: 100;
} 
.template {
    display:block;
    height: 100%;
    width:65%;
} 
.template_0 {
    background:url(../head.png) no-repeat;
    background-size: cover;
}
.template_1 {
  background:url(../01_template.png) no-repeat;
    background-size: cover;
}
.template_2 {
  background:url(../02_template.png) no-repeat;
    background-size: cover;
}
.template_3 {
  background:url(../03_template.png) no-repeat;
    background-size: cover;
}
.template_4 {
  background:url(../04_template.png) no-repeat;
    background-size: cover;
}
.template_5 {
  background:url(../05_template.png) no-repeat;
    background-size: cover;
}
.template_6 {
  background:url(../06_template.png) no-repeat;
    background-size: cover;
}
.template_7 {
  background:url(../07_template.png) no-repeat;
    background-size: cover;
}
#full, #full1 {
  height:100vh;
  width:65vw;
  background:url(../404.png) no-repeat;
  background-size: cover;
  display:block;
  margin:0 auto;
}
#full1 {
  background:url(../error.png) no-repeat;
  background-size: cover;
}